.border1 {
    background:#c3c;
    width:0%;
    overflow:hidden;
    -webkit-transition: width 5s ease-in-out;
    -moz-transition: width 5s ease-in-out;
    -o-transition: width 5s ease-in-out;
    transition: width 5s ease-in-out;
}