.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* ****************************************************** */
/*                    Sticky Nav                  */
/* ****************************************************** */

.mega-container {
  /* background-color: red !important; */
  animation: slide 0.3s linear forwards;
}

.mega-heading:hover .mega-menu {
  display: block;
  animation: slideUp 0.3s linear forwards;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --------------------------------- */
/*              HOME PAGE           */
/* -------------------------------- */

/* Slick slider arrows */

.slick-prev,
.slick-next {
  display: none !important;
}
/* Start slides from start and not from center */
.slick-track {
  margin-left: unset !important;
  margin-right: unset !important;
}

/* Ellipse Profiles */
.ellipse-circle-2 {
  position: absolute;
  top: 75%;
  left: 5%;
}
.ellipse-circle-4 {
  position: absolute;
  top: 80%;
  right: 10%;
}

/* Inner Ellipse Profiles */
.inner-ellipse-circle-2 {
  position: absolute;
  top: 75%;
  left: 5%;
}
.inner-ellipse-circle-4 {
  position: absolute;
  top: 60%;
  right: -3%;
}

/* Profile Detail */
.profile-detail {
  width: 420px;
}

/* .profile-img:hover .border-img {
  display: block;
} */

/* Region and payment modal */

.region-modal {
  width: 95%;
  max-width: 700px;
  max-height: 500px;
}

/* QR Code Modal */
.QR-code_modal,
.QR-code_modal {
  max-width: 900px;
}

/* ****************************************************** */
/*                    Poster Curve Layer                  */
/* ****************************************************** */

.custom-shape-divider-bottom-1649353383 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1649353383 svg {
  position: relative;
  display: block;
  width: calc(114% + 1.3px);
  /* height: 146px; */
}

.custom-shape-divider-bottom-1649353383 .shape-fill {
  fill: #ffffff;
}

@media screen and (max-width: 639px) {
  .profile-detail {
    width: 100vw;
    /* display: none; */
  }
}
@media screen and (max-width: 509px) {
  .inner-ellipse {
    display: none;
  }

  .ellipse-circle-2 {
    position: absolute;
    top: 65%;
    left: -1%;
  }
  .ellipse-circle-4 {
    position: absolute;
    top: 74%;
    right: 3%;
  }
}
